<div>
	<label>@Res.LabelAutoTranslate</label>&nbsp;

	@{
		var caption = Value ? Res.ButtonOn : Res.ButtonOff;
		var buttonClass = Value ? "btn btn-secondary" : "btn btn-dark";
		var buttonTitle = Value ? Res.ButtonTooltipDisableAutoTranslation : Res.ButtonTooltipEnableAutoTranslation;
	}

	<button class="@buttonClass" @onclick="@ToggleAutoTranslateAsync" title="@GetRes(buttonTitle, 20)">@caption</button>
</div>

@code {
	[Parameter]
	public bool Value { get; set; }

	[Parameter]
	public EventCallback<bool> ValueChanged { get; set; }

	private void ToggleAutoTranslateAsync()
	{
		Value = !Value;
		if (ValueChanged.HasDelegate)
			InvokeAsync(() => ValueChanged.InvokeAsync(Value));
	}
}