@inherits ContentIdMarkupBase

<h2>@Res.AppVersion</h2>

Web App: @AppInfoService.PackageVersion | <a href="changelog-web">@Res.ChangeLog</a>
<br />
@Res.MenuSramComparerCmdApp: @AppInfoService.GetAssemblyVersion(typeof(SramComparer.SoE.Program).Assembly) | <a href="changelog-console">@Res.ChangeLog</a>

@Content
