@inherits AutoLangContentIdMarkupBase

<h2>@Res.LabelAppVersion</h2>

Web App: @AppInfoService.PackageVersion | <a href=changelog/web>@Res.LabelChangeLog</a>
<br />
@Res.MenuSramComparerCmdApp: @AppInfoService.GetAssemblyVersion(typeof(SramComparer.SoE.Program).Assembly) | <a href=changelog/console>@Res.LabelChangeLog</a>

<p />
<h2>@Res.LabelLanguage</h2>
[@Language]
<p />

@if (ShowDebugLink)
{
	<h2>Language-Check</h2>
	<a href="@PageUris.LangCheck">Click here</a>
}

@if (ShowAutoTranslateOption)
{
	<TranslateButton @bind-Value="@AutoTranslate" />
}

<div class="markup">
	@Content.Replace("'", string.Empty)
</div>

<h7 title="@ResHidden.LabelTooltipSymbolsHint1">@ResHidden.LabelSymbolsHint1</h7>
<br />
<label class="hidden" title="@ResHidden.LabelTooltipSymbolsHint2">@ResHidden.LabelSymbolsHint2</label>