@inherits MarkupContentBase

<h2>@Res.AppVersion</h2>

Web App: @AppInfoService.PackageVersion | <a href="web-changelog">@Res.ChangeLog</a>
<br />
@Res.MenuSramComparerCmdApp: @AppInfoService.GetAssemblyVersion(typeof(SramComparer.SoE.Program).Assembly) | <a href="console-changelog">@Res.ChangeLog</a>

@Content
