<div class="mainDiv">
	<h1 class="whiteText">@Res.SramComparer - @Res.WebComparison</h1>
	<br />

	<EditForm Model="@ViewModel">
		<p>
			<label class="yellowText">@Res.FileRegion:@Ns</label><InputSelectEnum @bind-Value="@ViewModel.Region" style=@RegionStyle />
			<p>
				<label class="yellowText">@Res.CurrentSramFile (*.srm)</label>
					<br/>
				<label>@Res.File:@Ns</label>
				*) <InputFile OnChange="@OnCurrentFileChange" style=@ButtonStyle />
					<br/>
				<label>@Res.Game:@Ns</label>
				<InputSelectEnum @bind-Value="@ViewModel.CurrentGame" style=@CurrentGameStyle />
			</p>
			
			<p>
				<label class="yellowText">@Res.ComparisonSramFile (*.srm|*.comp)</label>
					<br/>
				<label>@Res.File:@Ns</label>
				*) <InputFile OnChange="@OnComparisonFileChange" style=@ButtonStyle />
					<br/>
				<label>@Res.Game:@Ns</label>
				<InputSelectEnum @bind-Value="@ViewModel.ComparisonGame" style=@ComparisonGameStyle />
			</p>
			
			<p>
				<label class="yellowText">@Res.AdditionalComparisons:</label>
					<br />
					<InputCheckbox @bind-Value="@ViewModel.WholeGameBuffer" />
					<label style=@WholeGameStyle title="@Res.WholeGameBufferHint">@Res.WholeGameBuffer</label> | 
					<InputCheckbox @bind-Value="@ViewModel.NonGameBuffer" />
					<label style=@NonGameStyle title="@Res.NonGameBufferHint">@Res.NonGameBuffer</label>
				
			</p>
			
			<p>
				<label class="yellowText">@Res.ShowAdditionalGameInformation:</label>
					<br />
				<label>@Res.Checksum:@Ns</label>
				<InputSelectEnum @bind-Value="@ViewModel.GameChecksum" style=@GameChecksumStyle />
					<br />
				<label title="@Res.Unknown12BHint">@Res.Unknown12B:@Ns</label>
				<InputSelectEnum @bind-Value="@ViewModel.Unknown12B" style=@Unknown12BStyle />
			</p>
			<label class="whiteText">*) @Res.Mandatory</label>
			<br />
		</p>

		<button class="btn btn-primary" @onclick="@ViewModel.Compare" disabled="@CompareButtonDisabled">@Res.Compare</button>
		<InputCheckbox @bind-Value="@ViewModel.UseColoredOutput" />
		<label class="whiteText">@Res.UseColoredOutput</label>
		<p />
	</EditForm>

	<div class="comparisonResult">
		@ViewModel.ComparisonResult
	</div>
</div>