@using SramComparer.SoE.Properties
<title>@Res.CaptionWebCompare</title>

<div>
	<h1>@Res.CaptionWebCompare</h1>
	<br />

	<EditForm Model="@ViewModel">
		<table>
			<tr>
				<th class="firstColumn"/><th />
			</tr>

			<tr>
				<td><label class="header">@ResComp.EnumGameRegion:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.GameRegion" style=@GameRegionStyle /></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header" title="@Res.LabelTooltipFile">@ResComp.EnumCurrentFile (*.srm|*.00x|*.state)</label></td>
			</tr>

			<tr>
				<td><label title="@Res.LabelTooltipFile">@Res.LabelFile:@Ns *)</label></td>
				<td><InputFile OnChange="@OnCurrentFileChange" style=@ButtonStyle /></td>
			</tr>
			<tr>
				<td><label>@Res.SaveSlot:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.CurrentFileSaveSlot" style=@CurrentFileStyle title="@Res.LabelTooltipFile" /></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header" title="@Res.LabelTooltipFile">@ResComp.EnumComparisonFile (*.srm|*.comp|*.00x|*.state)</label></td>
			</tr>
			
			<tr>
				<td><label title="@Res.LabelTooltipFile">@Res.LabelFile:@Ns *)</label></td>
				<td><InputFile OnChange="@OnComparisonFileChange" style=@ButtonStyle title="@Res.LabelTooltipFile" /></td>
			</tr>
			<tr>
				<td><label>@Res.SaveSlot:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.ComparisonFileSaveSlot" style=@ComparisonFileStyle /></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header">@Res.LabelAdditionalComparisons:</label></td>
			</tr>
			
			<tr>
				<td colspan="2"><InputCheckbox @bind-Value="@ViewModel.SlotByteByByteComparison" />
					<label style=@WholeSlotStyle title="@Res.LabelTooltipSaveSlotByteComparison">@ResComp.EnumSlotByteComparison</label> | 
					<InputCheckbox @bind-Value="@ViewModel.NonSlotByteByByteComparison" />
					<label style=@NonSlotStyle title="@Res.LabelTooltipNonSaveSlotByteComparison">@ResComp.EnumNonSlotComparison</label>
				</td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header">@Res.LabelShowAdditionalSaveSlotInformation:</label></td>
			</tr>
			
			<tr>
				<td><label>@Resources.EnumChecksum:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.Checksum" style=@ChecksumStyle /></td>
			</tr>
			<tr>
				<td><label title="@Res.LabelTooltipUnknown12B">Unknown12B:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.Unknown12B" style=@Unknown12BStyle /></td>
			</tr>
			
			<p />

			<tr>	
				<td colspan="2"><InputCheckbox @bind-Value="@ViewModel.ColorizeOutput" /> <label>@Res.LabelColorizeOutput</label></td>
			</tr>

			<p />

			<tr>
				<td><label>*) @Res.LabelMandatory</label></td>
			</tr>
		
			<p />

			<tr>	
				<td>
					<button class="btn btn-primary" @onclick="@ViewModel.CompareAsync" disabled="@CompareButtonDisabled" title="@Res.ButtonTooltipCompare">
						<span class="iconify" data-icon="oi-magnifying-glass" data-inline="false" />
					</button>
					
					<ClipboardCopy OnCopyAsync="@CopyTextAsync" Disabled="@CopyButtonDisabled" title="@Res.ButtonTooltipCopy" />
					
					<button class="btn btn-primary" @onclick="@DownloadAsync" disabled="@CopyButtonDisabled" title="@Res.ButtonTooltipDownloadFile">
						<span class="iconify" data-icon="oi-cloud-download" data-inline="false" />
					</button>
				</td>
			</tr>
		</table>
	</EditForm>
	
	@if (ViewModel.ShowOutput)
	{
		<div class="result">
			@ViewModel.OutputMessage
		</div>
	}
</div>