@using SRAM.Comparison.SoE.Properties
<title>@Res.CaptionWebCompare</title>

<div>
	<h1>@Res.CaptionWebCompare</h1>
	<br />

	<EditForm Model="@ViewModel">
		<table>
			<tr>
				<th class="firstColumn"/><th />
			</tr>

			<tr>
				<td><label class="header">@ResComp.EnumGameRegion:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.GameRegion" style=@GameRegionStyle /></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header" title="@Res.LabelTooltipFile">@ResComp.EnumCurrentFile (*.srm|*.00x|*.state)</label></td>
			</tr>

			<tr>
				<td><label title="@Res.LabelTooltipFile">@Res.LabelFile:@Ns *)</label></td>
				<td><InputFile OnChange="@OnCurrentFileChange" style=@ButtonStyle /></td>
			</tr>
			<tr>
				<td><label>@Res.SaveSlot:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@CurrentFileSaveSlot" style=@CurrentFileStyle title="@Res.LabelTooltipFile" /></td>
			</tr>
			
			<p />

			<tr>
				<td><label class="header">@Res.LabelChecksumStatus:@Ns</label></td>
				<td><label title="@Res.TooltipInvalidSaveSlotChecksum">@ViewModel.GetCurrentSaveslotChecksumStatus()</label></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header" title="@Res.LabelTooltipFile">@ResComp.EnumComparisonFile (*.srm|*.comp|*.00x|*.state)</label></td>
			</tr>
			
			<tr>
				<td><label title="@Res.LabelTooltipFile">@Res.LabelFile:@Ns *)</label></td>
				<td><InputFile OnChange="@OnComparisonFileChange" style=@ButtonStyle title="@Res.LabelTooltipFile" /></td>
			</tr>
			<tr>
				<td><label>@Res.SaveSlot:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.ComparisonFileSaveSlot" style=@ComparisonFileStyle disabled="@ComparisonFileSaveSlotDisabled" /></td>
			</tr>
			
			<p />

			<tr>
				<td><label class="header">@Res.LabelChecksumStatus:@Ns</label></td>
				<td><label title="@Res.TooltipInvalidSaveSlotChecksum">@ViewModel.GetComparisonSaveslotChecksumStatus()</label></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header">@Res.LabelAdditionalComparisons:</label></td>
			</tr>
			
			<tr>
				<td colspan="2">
					<InputCheckbox @bind-Value="@ViewModel.SlotByteComparison" />
					<label style=@SlotByteCompStyle title="@Res.LabelTooltipSlotByteComparison">@ResComp.EnumSaveSlotByteComparison</label> | 
					<InputCheckbox @bind-Value="@ViewModel.NonSlotComparison" />
					<label style=@NonSlotCompStyle title="@Res.LabelTooltipNonSlotComparison">@ResComp.EnumNonSaveSlotComparison</label>
				</td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header">@Res.LabelShowAdditionalSaveSlotInformation:</label></td>
			</tr>
			
			<tr>
				<td><label style=@ChecksumStyle>@Resources.EnumChecksum:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.Checksum" style=@ChecksumStyle /></td>
			</tr>
			<tr>
				<td><label style=@ScriptedEventTimerStyle title="@Res.LabelTooltipScriptedEventTimer">ScriptedEventTimer:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.ScriptedEventTimer" style=@ScriptedEventTimerStyle /></td>
			</tr>
			<tr>
				<td><label style=@ChecksumStatusStyle title="@Res.LabelTooltipChecksumStatus">@Res.LabelChecksumStatus:@Ns</label></td>
				<td><InputCheckbox @bind-Value="@ViewModel.ChecksumStatus" /></td>
			</tr>
			
			<p />

			<tr>	
				<td colspan="2"><InputCheckbox @bind-Value="@ViewModel.ColorizeOutput" /> <label>@Res.LabelColorizeOutput</label></td>
			</tr>

			<p />

			<tr>
				<td><label>*) @Res.LabelMandatory</label></td>
			</tr>
		
			<p />

			<tr>	
				<td colspan="2">
					<button class="btn btn-primary" @onclick="@ViewModel.CompareAsync" disabled="@CompareButtonDisabled" title="@Res.ButtonTooltipCompare">
						<span class="iconify" data-icon="oi-magnifying-glass" data-inline="false" />
					</button>
					
					<ClipboardCopy OnCopyAsync="@CopyComparisonTextAsync" Disabled="@CopyComparisonButtonDisabled" title="@Res.ButtonTooltipCopyComparison" />
					
					<button class="btn btn-primary" @onclick="@DownloadComparisonResultAsync" disabled="@CopyComparisonButtonDisabled" title="@Res.ButtonTooltipDownloadComparisonFile">
						<span class="iconify" data-icon="oi-cloud-download" data-inline="false" />
					</button>
				</td>
			</tr>
		</table>
	</EditForm>
	
	@if (ViewModel.ShowOutput)
	{
		<div class="result">
			@ViewModel.OutputMessage
		</div>
	}
</div>