@inherits AutoLangContentIdMarkupBase

@nameof(Language): @Language
<br />
@nameof(AutoTranslate): @AutoTranslate
<br />
@nameof(LangFileFound): @LangFileFound
<br />
@nameof(FileToLoad): @FileToLoad
<br />
@nameof(FileExists): @FileExists
<br />
@nameof(UrlToLoad): @UrlToLoad
<br />
@nameof(UrlExists): @UrlExists

<p />
<p />

@if (ShowAutoTranslateOption)
{
	<TranslateButton @bind-Value="@AutoTranslate" />
}

<div class="markup">
	@Content
</div>
