@using System.Drawing
@using WebApp.SoE.ViewModels
@using static WebApp.SoE.ViewModels.TerminalCodesViewModel
<title>@ResCompSoE.TerminalCodes</title>

<div>
	<h1>@ResCompSoE.TerminalCodes</h1>
	<br />

	<EditForm Model="@ViewModel">
		<table>
			<tr>
				<th class="firstColumn"/><th />
			</tr>

			<tr>
				<td><label class="header">@ResComp.EnumGameRegion:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.GameRegion" style=@GameRegionStyle /></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header" title="@Res.LabelTooltipFile">@ResComp.EnumCurrentFile (*.srm|*.00x|*.state)</label></td>
			</tr>
			<tr>
				<td><label title="@Res.LabelTooltipFile">@Res.LabelFile:@Ns</label>*)</td>
				<td><InputFile OnChange="@OnCurrentFileChange" style=@ButtonStyle title="@Res.LabelTooltipFile" /></td>
			</tr>
			<tr>
				<td><label>@Res.SaveSlot:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.CurrentFileSaveSlot" style=@CurrentSramFileStyle /></td>
			</tr>
			
			<p />

			<tr>
				<td><label class="header">@Res.LabelChecksumStatus:@Ns</label></td>
				<td><label title="@Res.TooltipInvalidSaveSlotChecksum">@ViewModel.GetCurrentSaveslotChecksumStatus()</label></td>
			</tr>

			<p />
			
			<tr>
				<td><label class="header">@ResCompSoE.TerminalCodes</label></td>
			</tr>
			<tr>
				<td><label>@ResCompSoE.AlarmCode:@Ns</label></td>
				<td><label>@TerminalCodeFormatter.FormatTerminalCode(ViewModel.AlarmCode, true)</label></td>
			</tr>
			<tr>
				<td><label>@ResCompSoE.SecretBossRoomCode:@Ns</label></td>
				<td><label>@TerminalCodeFormatter.FormatTerminalCode(ViewModel.SecretCode, true)</label></td>
			</tr>

			<p />

			<tr>
				<td><label>*) @Res.LabelMandatory</label></td>
			</tr>
			
			<p />
			
			<tr>
				<td>
					<button class="btn btn-primary" @onclick="@(() => ViewModel.GetTerminalCodes(true))" disabled="@ShowOutputButtonDisabled" title="@Res.ButtonTooltipShowSummary">
						<span class="iconify" data-icon="oi-magnifying-glass" data-inline="false" />
					</button>
					
					<ClipboardCopy OnCopyAsync="@CopyTerminalCodesAsync" Disabled="@CopyOutputButtonDisabled" title="@Res.ButtonTooltipCopyOutput" />
					
					<button class="btn btn-primary" @onclick="@ViewModel.ChangeSecretDoorCodeIfSame" disabled="@(!ViewModel.CanSet)" title="@Res.ButtonTooltipChangeSecretCode">
						<span class="iconify" data-icon="oi-pencil" data-inline="false" />
					</button>
					
					<button class="btn btn-primary" @onclick="@ViewModel.SaveAndDownloadAsync" disabled="@SaveButtonDisabled" title="@Res.ButtonTooltipDownloadChangedFile">
						<span class="iconify" data-icon="oi-cloud-download" data-inline="false" />
					</button>
				</td>
			</tr>
		</table>
	</EditForm>
	
	@if (ViewModel.ShowOutput)
	{
		<div class="result">
			@ViewModel.OutputMessage
		</div>
	}
</div>