<title>@Res.CaptionWebCompare</title>

<div>
	<h1>@Res.CaptionWebCompare</h1>
	<br />

	<EditForm Model="@ViewModel">
		<table>
			<tr>
				<th class="firstColumn"/><th />
			</tr>

			<tr>
				<td><label class="header">@Res.FileRegion:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.Region" style=@RegionStyle /></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header">@Res.CurrentSramFile (*.srm)</label></td>
			</tr>

			<tr>
				<td><label>@Res.File:@Ns *)</label></td>
				<td><InputFile OnChange="@OnCurrentFileChange" style=@ButtonStyle /></td>
			</tr>
			<tr>
				<td><label>@Res.Game:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.CurrentGame" style=@CurrentGameStyle /></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header">@Res.ComparisonSramFile (*.srm|*.comp)</label></td>
			</tr>
			
			<tr>
				<td><label>@Res.File:@Ns *)</label></td>
				<td><InputFile OnChange="@OnComparisonFileChange" style=@ButtonStyle /></td>
			</tr>
			<tr>
				<td><label>@Res.Game:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.ComparisonGame" style=@ComparisonGameStyle /></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header">@Res.AdditionalComparisons:</label></td>
			</tr>
			
			<tr>
				<td colspan="2"><InputCheckbox @bind-Value="@ViewModel.WholeGameBuffer" />
					<label style=@WholeGameStyle title="@Res.WholeGameBufferHint">@Res.WholeGameBuffer</label> | 
					<InputCheckbox @bind-Value="@ViewModel.NonGameBuffer" />
					<label style=@NonGameStyle title="@Res.NonGameBufferHint">@Res.NonGameBuffer</label>
				</td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header">@Res.ShowAdditionalGameInformation:</label></td>
			</tr>
			
			<tr>
				<td><label>@Res.Checksum:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.GameChecksum" style=@GameChecksumStyle /></td>
			</tr>
			<tr>
				<td><label title="@Res.Unknown12BHint">@Res.Unknown12B:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.Unknown12B" style=@Unknown12BStyle /></td>
			</tr>
			
			<p />

			<tr>	
				<td colspan="2"><InputCheckbox @bind-Value="@ViewModel.UseColoredOutput" /> <label>@Res.UseColoredOutput</label></td>
			</tr>

			<p />

			<tr>
				<td><label>*) @Res.Mandatory</label></td>
			</tr>
		
			<p />

			<tr>	
				<td>
					<button class="btn btn-primary" @onclick="@ViewModel.CompareAsync" disabled="@CompareButtonDisabled" title="@Res.HintButtonCompare"><span class="iconify" data-icon="oi-magnifying-glass" data-inline="false" /></button>
					
					<ClipboardCopy OnCopyAsync="@CopyTextAsync" Disabled="@CopyButtonDisabled" title="@Res.HintCopyButton" />
					
					<button class="btn btn-primary" @onclick="@DownloadAsync" disabled="@CopyButtonDisabled" title="@Res.HintDownloadFile"><span class="iconify" data-icon="oi-cloud-download" data-inline="false" /></button>
				</td>
			</tr>
		</table>
	</EditForm>
	
	@if (ViewModel.ShowOutput)
	{
		<div class="result">
			@ViewModel.OutputMessage
		</div>
	}
</div>