@using SramComparer.SoE.Properties
<title>@Res.CaptionWebCompare</title>

<div>
	<h1>@Res.CaptionWebCompare</h1>
	<br />

	<EditForm Model="@ViewModel">
		<table>
			<tr>
				<th class="firstColumn"/><th />
			</tr>

			<tr>
				<td><label class="header">@ResComp.GameRegion:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.GameRegion" style=@GameRegionStyle /></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header">@ResComp.CurrentSramFile (*.srm)</label></td>
			</tr>

			<tr>
				<td><label>@Res.File:@Ns *)</label></td>
				<td><InputFile OnChange="@OnCurrentFileChange" style=@ButtonStyle /></td>
			</tr>
			<tr>
				<td><label>@ResComp.SaveSlot:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.CurrentSramSaveSlot" style=@CurrentSramFileStyle /></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header">@ResComp.ComparisonSramFile (*.srm|*.comp)</label></td>
			</tr>
			
			<tr>
				<td><label>@Res.File:@Ns *)</label></td>
				<td><InputFile OnChange="@OnComparisonFileChange" style=@ButtonStyle /></td>
			</tr>
			<tr>
				<td><label>@ResComp.SaveSlot:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.ComparisonSramFileSaveSlot" style=@ComparisonSramFileStyle /></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header">@Res.AdditionalComparisons:</label></td>
			</tr>
			
			<tr>
				<td colspan="2"><InputCheckbox @bind-Value="@ViewModel.SlotByteByByteComparison" />
					<label style=@WholeSlotStyle title="@Res.HintSaveSlotByteByByteComparison">@ResComp.SlotByteByByteComparison</label> | 
					<InputCheckbox @bind-Value="@ViewModel.NonSlotByteByByteComparison" />
					<label style=@NonSlotStyle title="@Res.HintNonSaveSlotByteByByteComparison">@ResComp.NonSlotByteByByteComparison</label>
				</td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header">@Res.ShowAdditionalSaveSlotInformation:</label></td>
			</tr>
			
			<tr>
				<td><label>@Resources.Checksum:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.Checksum" style=@ChecksumStyle /></td>
			</tr>
			<tr>
				<td><label title="@Res.HintUnknown12B">Unknown12B:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.Unknown12B" style=@Unknown12BStyle /></td>
			</tr>
			
			<p />

			<tr>	
				<td colspan="2"><InputCheckbox @bind-Value="@ViewModel.ColorizeOutput" /> <label>@Res.ColorizeOutput</label></td>
			</tr>

			<p />

			<tr>
				<td><label>*) @Res.Mandatory</label></td>
			</tr>
		
			<p />

			<tr>	
				<td>
					<button class="btn btn-primary" @onclick="@ViewModel.CompareAsync" disabled="@CompareButtonDisabled" title="@Res.HintButtonCompare">
						<span class="iconify" data-icon="oi-magnifying-glass" data-inline="false" />
					</button>
					
					<ClipboardCopy OnCopyAsync="@CopyTextAsync" Disabled="@CopyButtonDisabled" title="@Res.HintCopyButton" />
					
					<button class="btn btn-primary" @onclick="@DownloadAsync" disabled="@CopyButtonDisabled" title="@Res.HintDownloadFile">
						<span class="iconify" data-icon="oi-cloud-download" data-inline="false" />
					</button>
				</td>
			</tr>
		</table>
	</EditForm>
	
	@if (ViewModel.ShowOutput)
	{
		<div class="result">
			@ViewModel.OutputMessage
		</div>
	}
</div>