<title>@Res.CaptionWebOffsetEdit</title>

<div>
	<h1>@Res.CaptionWebOffsetEdit</h1>
	<br />

	<EditForm Model="@ViewModel">
		<table>
			<tr>
				<th class="firstColumn"/><th />
			</tr>

			<tr>
				<td><label class="header">@ResComp.SettingRegion:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.Region" style=@RegionStyle /></td>
			</tr>
			
			<p />

			<tr>
				<td colspan="2"><label class="header">@ResComp.CurrentSramFile (*.srm)</label></td>
			</tr>
			<tr>
				<td><label>@Res.File:@Ns</label>*)</td>
				<td><InputFile OnChange="@OnCurrentFileChange" style=@ButtonStyle /></td>
			</tr>
			<tr>
				<td><label>@ResComp.Game:@Ns</label></td>
				<td><InputSelectEnum @bind-Value="@ViewModel.CurrentGame" style=@CurrentGameStyle /></td>
			</tr>

			<p />
			
			<tr>
				<td><label class="header">@ResComp.Offset</label></td>
			</tr>
			<tr>
				<td><label title="@Res.HintGameOffset">@ResComp.GameOffset:@Ns</label>*)</td>
				<td>
					<input type="number" @bind="@ViewModel.OffsetAddress" maxLength="4" title="@Res.HintGameOffset" />
					<button class="btn btn-primary" @onclick="@ViewModel.GetOffsetValueAsync" disabled="@(!ViewModel.CanGet)" title="@Res.HintButtonGetOffsetValue">
						<span class="iconify" data-icon="oi-magnifying-glass" data-inline="false" />
					</button>
				</td>
			</tr>
			<tr>
				<td><label>@Res.OffsetValue:@Ns</label></td>
				<td>
					<input type="number" @bind="@ViewModel.OffsetValue" maxLength="3" />
					<button class="btn btn-primary" @onclick="@ViewModel.SetOffsetValueAsync" disabled="@(!ViewModel.CanSet)" title="@Res.HintButtonSetOffsetValue">
						<span class="iconify" data-icon="oi-pencil" data-inline="false" />
					</button>
				</td>
			</tr>
			
			<p />

			<tr>
				<td><label>*) @Res.Mandatory</label></td>
			</tr>
			
			<p />
			
			<tr>
				<td>
					<button class="btn btn-primary" @onclick="@ViewModel.SaveAndDownloadAsync" disabled="@SaveButtonDisabled" title="@Res.HintButtonDownloadChangedFile">
						<span class="iconify" data-icon="oi-cloud-download" data-inline="false" />
					</button>
				</td>
			</tr>
		</table>
	</EditForm>
	
	@if (ViewModel.ShowOutput)
	{
		<div class="result">
			@ViewModel.OutputMessage
		</div>
	}
</div>