@using WebApp.SoE.Helpers
@using WebApp.SoE.Extensions

@{ var sp = "&nbsp;".ToMarkup(); }

<div>
    <!-- Quick links -->
    <ol class="nav flex-column">
        <li class="nav-item px-3" title="@Res.MenuQuickLinks">
            <NavLink class="nav-link" href="@PageUris.Compare" Match="NavLinkMatch.Prefix">
                <span class="oi oi-flash" aria-hidden="true"/>

                <a href="@PageUris.Compare">
                    <button class="btn btn-primary" title="@Res.HintButtonCompare"><span class="iconify" data-icon="oi-magnifying-glass" data-inline="false" /></button>
                </a>
                @sp
                <a href="@PageUris.Offset">
                    <button class="btn btn-primary" title="@Res.HintButtonSetOffsetValue"><span class="iconify" data-icon="oi-pencil" data-inline="false" /></button>
                </a>
            </NavLink>
        </li>
    </ol>
    <!-- / Quick links -->
    <!-- SRAM Hacking -->
    <ol class="nav flex-column">
        <li class="nav-item px-3">
            <a class="nav-link" href="@PageUris.Goal">
                <span class="oi oi-code"/> @Res.MenuSramFormat.ReplaceSpaces() 
                @sp <span class="@(_sramFormat ? "oi oi-zoom-out" : "oi oi-zoom-in")"/>
            </a>
  
            @if (_sramFormat)
            {
                <ol class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@PageUris.Goal">
                            <span class="oi oi-flag" aria-hidden="true"/> @Res.MenuGoal.ReplaceSpaces()
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@PageUris.Unknowns">
                            <span class="oi oi-question-mark" aria-hidden="true"/> @Res.MenuTheUnknowns.ReplaceSpaces()
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@PageUris.Contribute">
                            <span class="oi oi-thumb-up" aria-hidden="true"/> @Res.MenuCanIHelp.ReplaceSpaces()
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@PageUris.SramDocu">
                            <span class="oi oi-document" aria-hidden="true"/> @Res.MenuDocumentation.ReplaceSpaces()
                        </NavLink>
                    </li>
                </ol>
            }
        </li>
    </ol>
    <!-- / SRAM Hacking -->
    <!-- SRAM Comparison -->
    <ol class="nav flex-column">
        <li class="nav-item px-3">
            <a class="nav-link" href="@PageUris.Features">
                <span class="oi oi-eye"/> @Res.MenuSramComparison.ReplaceSpaces() 
                @sp <span class="@(_sramComparison ? "oi oi-zoom-out" : "oi oi-zoom-in")"/>
            </a>
            @if (_sramComparison)
            {
                <ol class="nav flex-column">
                    <!-- Features -->
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@PageUris.Features">
                            <span class="oi oi-circle-check" aria-hidden="true"/> @Res.MenuFeatures.ReplaceSpaces()
                        </NavLink>
                    </li>
                    <!-- / Features -->
                    <!-- SramComparerCmdApp -->
                    <li class="nav-item px-3">
                        <a class="nav-link" href="@PageUris.Imagery">
                            <span class="oi oi-command" aria-hidden="true"/> @Res.MenuSramComparerCmdApp.ReplaceSpaces() 
                            @sp <span class="@(_consoleApp ? "oi oi-zoom-out" : "oi oi-zoom-in")"/>
                        </a>
                        @if (_consoleApp)
                        {
                            <ol class="nav flex-column">
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="@PageUris.Imagery">
                                        <span class="oi oi-image" aria-hidden="true"/> @Res.MenuImagery.ReplaceSpaces()
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="@PageUris.Downloads">
                                        <span class="oi oi-arrow-circle-bottom" aria-hidden="true"/> @Res.MenuDownload.ReplaceSpaces()
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="@PageUris.Manual">
                                        <span class="oi oi-document" aria-hidden="true"/> @ResComp.CommandManual
                                        .ReplaceSpaces()
                                    </NavLink>
                                </li>
                            </ol>
                        }
                    </li>
                    <!-- / SramComparerCmdApp -->
                    <!-- WebTools -->
                    <li class="nav-item px-3">
                        <a class="nav-link" href="@PageUris.Compare">
                            <span class="oi oi-wrench" /> @Res.MenuWebTools.ReplaceSpaces() 
                            @sp <span class="@(_webTools ? "oi oi-zoom-out" : "oi oi-zoom-in")"/>
                        </a>
                        
                        @if (_webTools)
                        {
                            <ol class="nav flex-column">
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="@PageUris.Compare">
                                        <span class="oi oi-eye" aria-hidden="true"/> @Res.WebComparison.ReplaceSpaces()
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="@PageUris.Offset">
                                        <span class="oi oi-pencil" aria-hidden="true"/> @Res.MenuWebOffset.ReplaceSpaces()
                                    </NavLink>
                                </li>
                            </ol>
                        }
                    </li>
                    <!-- / WebTools -->
                </ol>
                <!-- GitHub -->
                <ol class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@PageUris.GitHub">
                            <img src="Media/github-11-24.png" class="icon" /> GitHub
                        </NavLink>
                    </li>
                </ol>
                <!-- / GitHub -->
            }
        </li>
    </ol>
    <!-- / SRAM Comparison -->
    <!-- Other -->
    <ol class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@PageUris.Support">
                <span class="oi oi-heart" aria-hidden="true"/> @Res.MenuSupport.ReplaceSpaces()
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@PageUris.Community">
                <span class="oi oi-people" aria-hidden="true"/> @Res.MenuCommunity.ReplaceSpaces()
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@PageUris.Awesome" title="@Res.TooltipAwesomeSoE">
                <span class="oi oi-star" aria-hidden="true"/> @Res.MenuAwesomeSoE.ReplaceSpaces()
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@PageUris.About">
                <span class="oi oi-info" aria-hidden="true"/> @Res.MenuAbout.ReplaceSpaces()
            </NavLink>
        </li>
    </ol>
    <!-- / Other -->
</div>