@using WebApp.SoE.Helpers
@using WebApp.SoE.Extensions

@{
    var sp = "&nbsp;".ToMarkup();
    var del = "&nbsp;&nbsp;".ToMarkup();
    var quickLinkOpener = "<|".ToMarkup();
    var quickLinkCloser = "|>".ToMarkup();
}

<div>
    <!-- Quick links -->
    <ol class="nav flex-column">
        <li class="nav-item quicklinks" title="@Res.MenuQuickLinks">
            <NavLink class="nav-link">
                @quickLinkOpener @sp
                <a href="@PageUris.SramDocu" title="@Res.MenuTitleSramDocu">
                    <span class="iconify" data-icon="oi-document"/>
                </a>
                @del
                <a href="@PageUris.Awesome" title="@Res.MenuTitleAwesome">
                    <span class="iconify" data-icon="oi-star"/>
                </a>
                @del
                <a href="@PageUris.Community" title="@Res.MenuTitleCommunity">
                    <span class="iconify" data-icon="oi-people"/>
                </a>
                @del
                <a href="@PageUris.Discord" target="_" title="@Res.MenuTitleDiscord">
                    <img src="media/Discord.png" class="discord" />
                </a>
                @del
                <a href="@PageUris.Sources" title="@Res.MenuTitleSources">
                    <img src="media/GitHub.png" class="github" />
                </a>
                @sp @quickLinkCloser
            </NavLink>
            <NavLink class="nav-link">
                @quickLinkOpener @sp
                <a href="@PageUris.Compare" title="@Res.MenuTitleCompare">
                    <span class="iconify" data-icon="oi-magnifying-glass"/>
                </a>
                @del
                <a href="@PageUris.OffsetEdit" title="@Res.MenuTitleOffsetEdit">
                    <span class="iconify" data-icon="oi-pencil"/>
                </a>
                @del
                <a href="@PageUris.ChangelogConsole" title="@Res.MenuTitleChangeLog">
                    <span class="iconify" data-icon="oi-cloud-download"/>
                </a>
                @del
                <a href="@PageUris.Imagery" title="@Res.MenuTitleImagery">
                    <span class="iconify" data-icon="oi-image"/>
                </a>
                @del
                <a href="@PageUris.Guide" title="@Res.MenuTitleGuide">
                    <span class="iconify" data-icon="oi-document"/>
                </a>
                @sp @quickLinkCloser
            </NavLink>
        </li>
    </ol>
    <!-- / Quick links -->
    <!-- SRAM Format -->
    <ol class="nav flex-column firstRow">
        <li class="nav-item px-3">
            <a class="nav-link" href="@PageUris.Goals" title="@Res.MenuTitleGoals">
                <span class="@(_sramFormat ? "oi oi-zoom-out" : "oi oi-zoom-in")"/> 
                <span class="oi oi-code"/> @Res.MenuSramFormat.ReplaceSpaces() 
            </a>
  
            @if (_sramFormat)
            {
                <ol class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@PageUris.Goals" title="@Res.MenuTitleGoals">
                            <span class="oi oi-flag"/> @Res.MenuGoals.ReplaceSpaces()
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@PageUris.Unknowns" title="@Res.MenuTitleTheUnknowns">
                            <span class="oi oi-question-mark"/> @Res.MenuTheUnknowns.ReplaceSpaces()
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@PageUris.Explore" title="@Res.MenuTitleExploring">
                            <span class="oi oi-thumb-up"/> @Res.MenuExplore.ReplaceSpaces()
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@PageUris.SramDocu" title="@Res.MenuTitleSramDocu">
                            <span class="oi oi-document"/> @Res.MenuSramDocu.ReplaceSpaces()
                        </NavLink>
                    </li>
                </ol>
            }
        </li>
    </ol>
    <!-- / SRAM Format -->
    <!-- SRAM Comparison -->
    <ol class="nav flex-column">
        <li class="nav-item px-3">
            <a class="nav-link" href="@PageUris.Features" title="@Res.MenuTitleFeatures">
                <span class="@(_sramComparison ? "oi oi-zoom-out" : "oi oi-zoom-in")"/>
                <span class="oi oi-eye"/> @Res.MenuSramComparison.ReplaceSpaces() 
            </a>
            @if (_sramComparison)
            {
                <ol class="nav flex-column">
                    <!-- Features -->
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@PageUris.Features" title="@Res.MenuTitleFeatures">
                            <span class="oi oi-circle-check"/> @Res.MenuFeatures.ReplaceSpaces()
                        </NavLink>
                    </li>
                    <!-- / Features -->
                    <!-- SramComparerCmdApp -->
                    <li class="nav-item px-3">
                        <a class="nav-link" href="@PageUris.Imagery" title="@Res.MenuTitleImagery">
                            <span class="@(_consoleApp ? "oi oi-zoom-out" : "oi oi-zoom-in")"/>
                            <span class="oi oi-command"/> @Res.MenuSramComparerCmdApp.ReplaceSpaces() 
                        </a>
                        @if (_consoleApp)
                        {
                            <ol class="nav flex-column">
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="@PageUris.Imagery" title="@Res.MenuTitleImagery">
                                        <span class="oi oi-image"/> @Res.MenuImagery.ReplaceSpaces()
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="@PageUris.ChangelogConsole" title="@Res.MenuTitleChangeLog">
                                        <span class="oi oi-arrow-circle-bottom"/> @Res.MenuChangeLog.ReplaceSpaces()
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="@PageUris.Guide" title="@Res.MenuTitleGuide">
                                        <span class="oi oi-document"/> @Res.MenuGuide.ReplaceSpaces()
                                    </NavLink>
                                </li>
                            </ol>
                        }
                    </li>
                    <!-- / SramComparerCmdApp -->
                    <!-- WebTools -->
                    <li class="nav-item px-3">
                        <a class="nav-link" href="@PageUris.Compare" title="@Res.MenuTitleCompare">
                            <span class="@(_webTools ? "oi oi-zoom-out" : "oi oi-zoom-in")"/>
                            <span class="oi oi-wrench" /> @Res.MenuWebTools.ReplaceSpaces() 
                        </a>
                        
                        @if (_webTools)
                        {
                            <ol class="nav flex-column">
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="@PageUris.Compare" title="@Res.MenuTitleCompare">
                                        <span class="oi oi-eye"/> @Res.MenuWebComparison.ReplaceSpaces()
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="@PageUris.OffsetEdit" title="@Res.MenuTitleOffsetEdit">
                                        <span class="oi oi-pencil"/> @Res.MenuWebOffsetEdit.ReplaceSpaces()
                                    </NavLink>
                                </li>
                            </ol>
                        }
                    </li>
                    <!-- / WebTools -->
                </ol>
                <!-- GitHub -->
                <ol class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="@PageUris.Sources" title="@Res.MenuTitleSources">
                            <img src="media/Github.png" class="github" />@(sp)GitHub
                        </NavLink>
                    </li>
                </ol>
                <!-- / GitHub -->
            }
        </li>
    </ol>
    <!-- / SRAM Comparison -->
    <!-- Other -->
    <ol class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@PageUris.Contribute" title="@Res.MenuTitleContribute">
                <span class="oi oi-heart"/> @Res.MenuContribute.ReplaceSpaces()
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@PageUris.Community" title="@Res.MenuTitleCommunity">
                <span class="oi oi-people"/> @Res.MenuCommunity.ReplaceSpaces()
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@PageUris.Awesome" title="@Res.MenuTitleAwesome">
                <span class="oi oi-star"/> @Res.MenuAwesomeSoE.ReplaceSpaces()
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@PageUris.About" title="@Res.MenuTitleAbout">
                <span class="oi oi-info"/> @Res.MenuAbout.ReplaceSpaces()
            </NavLink>
        </li>
    </ol>
    <!-- / Other -->
</div>